h1{
    font-size: 30px; color: rgba(68, 0, 255, 0.425);background-color: rgb(167, 221, 160);height: 50px;width: 800px;text-align: center;
}
h2{
    font-size: 30px; color: rgba(68, 0, 255, 0.425);background-color: rgb(167, 221, 160);height: 50px;width: 800px;text-align: center;
}
h3{
    font-size: 30px; color: rgba(68, 0, 255, 0.425);background-color: rgb(167, 221, 160);height: 50px;width: 800px;text-align: center;
}
h4{
    font-size: 30px; color: rgba(68, 0, 255, 0.425);background-color: rgb(167, 221, 160);height: 50px;width: 800px;text-align: center;
}
h5{
    font-size: 30px; color: rgba(68, 0, 255, 0.425);background-color: rgb(167, 221, 160);height: 50px;width: 1350px;text-align: center;
}
h6{
    font-size: 30px; color: rgba(68, 0, 255, 0.425);background-color: rgb(167, 221, 160);height: 50px;width: 800px;text-align: center;
}
img{ 
    height: 380px;
    width: 380px;
    
}